<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="about-us">  
                <a href="" routerLink="/about-us" class="nav-link">Sobre Nós</a>              
            </p> 
            
            <p class="social-media">Redes: 
                <a href="" class="nav-link"><i class="bi bi-whatsapp"></i> </a>
                <a href="" class="nav-link"><i class="bi bi-instagram margin-icon"></i> </a>
                <a href="" class="nav-link"><i class="bi bi-facebook margin-icon"></i></a>
            </p>
            
            <p class="terms-of-use">
                <a href="" routerLink="/terms-of-use" class="nav-link">Termos de Uso <i class="bi bi-file-earmark"></i></a>
            </p>
            
            <p class="faq">
                <a href="" routerLink="/faq" class="nav-link">FAQ <i class="bi bi-question-circle"></i></a>
            </p>
        </div>
    </div>
</div>
