<body>
    <div class="container">
        <div class="heading">Esqueceu sua senha?</div>
        <p>Insira seu e-mail abaixo e enviaremos um link para redefinir sua senha.</p>
        <form action="/send-reset-link" method="POST" class="form">
            <input required="" class="input" type="email" name="email" placeholder="Digite seu e-mail">
            <input class="login-button" type="submit" value="Enviar link de redefinição">
        </form>
        <span class="voltar"><a routerLink="/user-login">Voltar</a></span>
    </div>
</body>

