<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu sua Senha</title>
    <link rel="stylesheet" href="../user-register/user-register.component.css"> 
</head>
<body>
    <div class="container">
        <div class="heading">Esqueceu sua senha?</div>
        <p>Insira seu e-mail abaixo e enviaremos um link para redefinir sua senha.</p>
        <form action="/send-reset-link" method="POST" class="form">
            <input required="" class="input" type="email" name="email" placeholder="Digite seu e-mail">
            <input class="login-button" type="submit" value="Enviar link de redefinição">
        </form>
        <span class="voltar"><a href="../user-login/user-login.component.html">Voltar</a></span>
    </div>
</body>
</html>

