.container-fluid {
    padding: 0px 25px;
}

.row {
    outline: 1px solid #2DB4F4;
    padding: 2px;
    box-shadow: 0px 0px 6px 0px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    .container-fluid {
        padding: 30px;
    }
}