<div class="container-fluid">
    <h3>CADASTRAR EMPRESA</h3>
    <form>
        <div class="row">
            <div class="col-12 col-xxl-3">Nome*</div>
            <div class="col-12 col-xxl-3">CNPJ*</div>
            <div class="col-12 col-xxl-3">Url Site</div>
        </div>
    
        <div class="row">
            <div class="col-12">Descrição</div>
        </div>
    
        <div class="row">
            <div class="col-12 col-xxl-3">Data Fundação*</div>
            <div class="col-12 col-xxl-3">Endereço*</div>
            <div class="col-12 col-xxl-3">Status*</div>
        </div>
    
        <div class="row">
            <div class="col-12 col-xxl-3">Email*</div>
            <div class="col-12 col-xxl-3">Telefone Contato*</div>
            <div class="col-12 col-xxl-3">Tipo*</div>
        </div>
    </form>
</div>