<!-- Formulário Filtros -->
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Início Formulário -->
            <form>
                <div class="row mb-3">
                    <div class="col-12">
                        <h2>Filtros</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">
                                Nome Usuário
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected value="0">Selecionar</option>
                                <option value="4">Nome 1</option>
                                <option value="3">Nome 2</option>
                                <option value="2">Nome 3</option>
                                <option value="1">Nome 4</option>
                                <option value="1">Nome 5</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <label class="form-label">
                                Descrição
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected value="0">Selecionar</option>
                                <option value="4">Testando a descrição vindo da API 1</option>
                                <option value="3">Testando a descrição vindo da API 2</option>
                                <option value="2">Testando a descrição vindo da API 3</option>
                                <option value="1">Testando a descrição vindo da API 4</option>
                                <option value="1">Testando a descrição vindo da API 5</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-custom-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                Data Início
                            </label>
                            <input type="date" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                    </div>

                    <div class="col-12 col-custom-6">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">
                                Data Fim
                            </label>
                            <input type="date" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-xxl-6">
                        <div class="mb-3">
                            <label class="form-label">
                                Status
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected value="0">Selecionar</option>
                                <option value="4">Arquivado</option>
                                <option value="3">Concluído</option>
                                <option value="2">Em andamento</option>
                                <option value="1">Pendente</option>
                                <option value="1">Recebido</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-xl-4">
                        <div class="mb-3">
                            <label class="form-label">
                                Instituição
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected value="0">Selecionar</option>
                                <option value="4">Instituição 1</option>
                                <option value="3">Instituição 2</option>
                                <option value="2">Instituição 3</option>
                                <option value="1">Instituição 4</option>
                                <option value="1">Instituição 5</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-xl-8">
                        <div class="mb-3">
                            <label class="form-label">
                                Endereço
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected value="0">Selecionar</option>
                                <option value="4">Testando endereço vindo da API 1</option>
                                <option value="3">Testando endereço vindo da API 2</option>
                                <option value="2">Testando endereço vindo da API 3</option>
                                <option value="1">Testando endereço vindo da API 4</option>
                                <option value="1">Testando endereço vindo da API 5</option>
                            </select>
                        </div>
                    </div>


                </div>

                <!-- Botão Formulário Filtro -->
                <div class="row align-button-apply mt-3">
                    <div class="col-12 btn-apply">
                        <button class="btn btn-primary">
                            Aplicar <i class="bi bi-funnel"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<!-- Tabela -->
<div class="table-responsive">
    <table class="table">
        <thead class="table-primary align-middle">
            <tr class="table-head">
                <th scope="col" class="d-none d-xl-table-cell">Id Usuário</th>
                <th scope="col" class="d-none d-xl-table-cell">Nome Usuário</th>
                <th scope="col" class="">Data Denúncia</th>
                <th scope="col" class="">Status</th>
                <th scope="col" class="d-none d-xl-table-cell">Descrição</th>
                <th scope="col" class="d-none d-xl-table-cell">Data Resolução</th>
                <th scope="col" class="d-none d-xl-table-cell">Endereço</th>
                <th scope="col" class="d-none d-xl-table-cell">Instituição</th>
                <th scope="col" class="d-none d-xl-table-cell">Editar</th>
                <th scope="col" class="d-none d-xl-table-cell">Excluir</th>
                <th scope="col" class="d-xl-none">Detalhe</th>
            </tr>

        </thead>
        <tbody class="align-middle">
            <tr>
                <td class="d-none d-xl-table-cell">5dcc2d64-8696-44a0-9fb4-8c6b3821db5e</td>
                <td class="d-none d-xl-table-cell">Nome do usuário API</td>
                <td class="">18/06/2025</td>
                <td class="">Recebido</td>
                <td class="d-none d-xl-table-cell">Testando a descrição da denúncia feita pelo usuário</td>
                <td class="d-none d-xl-table-cell">N/A</td>
                <td class="d-none d-xl-table-cell">Rua dos bobos número 0</td>
                <td class="d-none d-xl-table-cell">Testando a instituição</td>
                <td class="d-none d-xl-table-cell"><i class="bi bi-pencil"></i></td>
                <td class="d-none d-xl-table-cell"><i class="bi bi-trash"></i></td>
                <td class="d-xl-none">
                    <div class="accordion accordion-flush" id="information-1">
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Menu collapse -->
            <tr id="collapseOne" class="accordion-collapse collapse d-xl-none" data-bs-parent="#information-1">
                <td colspan="3" class="table-data-collapse">
                    <div class="d-flex flex-column collapse-content-father mb-1">
                        <span class="collapse-content"><strong>Id Usuário: </strong>5dcc2d64-8696-44a0-9fb4-8c6b3821db5e</span>
                        <span class="collapse-content"><strong>Nome Usuário: </strong>Nome do usuário API</span>
                        <span class="collapse-content"><strong>Data Resolução: </strong>N/A</span>
                    </div>

                    <div class="d-flex flex-column collapse-content-father mb-1">
                        <span class="collapse-content"><strong>Descrição: </strong>Testando a descrição da denúncia feita pelo usuário</span>
                        <span class="collapse-content"><strong>Endereço: </strong>Rua dos bobos número 0</span>
                        <span class="collapse-content"><strong>Instituição: </strong>Testando a instituição</span>
                    </div>

                    <div class="d-flex flex-column collapse-content-father">
                        <div class="row">
                            <div class="col-6 col-align-right">
                                <span><strong>Editar</strong><i class="bi bi-pencil"></i></span>
                            </div>

                            <div class="col-6 col-align-left">
                                <span><strong>Excluir</strong><i class="bi bi-trash"></i></span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            
            <tr>
                <td class="d-none d-xl-table-cell">5dcc2d64-8696-44a0-9fb4-8c6b3821db5e</td>
                <td class="d-none d-xl-table-cell">Nome do usuário 2 API</td>
                <td class="">18/06/2025 2</td>
                <td class="">Recebido 2</td>
                <td class="d-none d-xl-table-cell">Testando a descrição da denúncia feita pelo usuário</td>
                <td class="d-none d-xl-table-cell">N/A</td>
                <td class="d-none d-xl-table-cell">Rua dos bobos número 0</td>
                <td class="d-none d-xl-table-cell">Testando a instituição</td>
                <td class="d-none d-xl-table-cell"><i class="bi bi-pencil"></i></td>
                <td class="d-none d-xl-table-cell"><i class="bi bi-trash"></i></td>
                <td class="d-xl-none">
                    <div class="accordion accordion-flush" id="information-2">
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

            <!-- Menu collapse -->
            <tr id="collapseTwo" class="accordion-collapse collapse d-xl-none" data-bs-parent="#information-2">
                <td colspan="3" class="table-data-collapse">
                    <div class="d-flex flex-column collapse-content-father mb-1">
                        <span class="collapse-content"><strong>Id Usuário: </strong>5dcc2d64-8696-44a0-9fb4-8c6b3821db5e</span>
                        <span class="collapse-content"><strong>Nome Usuário: </strong>Nome do usuário 2 API</span>
                        <span class="collapse-content"><strong>Data Resolução: </strong>N/A</span>
                    </div>

                    <div class="d-flex flex-column collapse-content-father mb-1">
                        <span class="collapse-content"><strong>Descrição: </strong>Testando a descrição da denúncia feita pelo usuário</span>
                        <span class="collapse-content"><strong>Endereço: </strong>Rua dos bobos número 0</span>
                        <span class="collapse-content"><strong>Instituição: </strong>Testando a instituição</span>
                    </div>

                    <div class="d-flex flex-column collapse-content-father">
                        <div class="row">
                            <div class="col-6 col-align-right">
                                <span><strong>Editar</strong><i class="bi bi-pencil"></i></span>
                            </div>

                            <div class="col-6 col-align-left">
                                <span><strong>Excluir</strong><i class="bi bi-trash"></i></span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Paginação -->
 <div class="container-pagination">
     <nav aria-label="Page navigation example" class="pagination-nav">
       <ul class="pagination">
         <li class="page-item"><a href="#" class="page-link"><i class="bi bi-chevron-left"></i></a></li>
         <li class="page-item"><a class="page-link" href="#">1</a></li>
         <li class="page-item active">
           <a class="page-link" href="#" aria-current="page">2</a>
         </li>
         <li class="page-item"><a class="page-link" href="#">3</a></li>
         <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a></li>
       </ul>
     </nav>
 </div>