body {
    margin: 0;
    padding: 0;
    background-color: #DAEDFF;
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.steps {
    width: 30px;
    height: 30px;
    background-color: #b0d8f7;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.steps.active {
    background-color: #3016EB;
}

.numbers {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.box {
    background-color: #84CCF4;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(240, 15, 15, 0.1);
    
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #076591;
    color: white;
    height: 25vh;
    border-radius: 10px;
    
}
.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #076591;
    color: white;
    height: 25vh;
    border-radius: 10px;
    
}
.content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #076591;
    color: white;
    height: 35vh;
    border-radius: 10px;
    
}

.map {
    width: 80%;
    height: 65%; 
    border-radius: 10px;
    margin-top: 20px; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.font{
    color: #00007B;
}

.display {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}


.btn-load-photo {
    width: 100%;

}

.space{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

button {
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    /* display: flex;
    align-items: center; */
    gap: 5px;
    
}
.btn-back{
    cursor: pointer;
}
.btwhite {
    background-color: #E8E8E8;
    
    color: #3016EB;
}

.btwhite:hover {
    background-color: #d0e7f8;
    transition: 0.3s;
}

.btblue {
    background-color: #3016EB;
    color: white;
}

.btblue:hover {
    background-color: #2411cf;
    transition: 0.3s;
}

@media(max-width: 520px){
    .map{
        width: 350px;
        height: 65%;
    }
}

@media(max-width: 450px){
    .map{
        width: 80%;
        height: 65%; 
    }
    .content3{
        height: 30vh;
    }
}

@media(max-width: 400px) {
    .btblue{
        width: 45%;
        font-size: 14px;
        text-align: center;
    }
    .btwhite{
        width: 45%;
        font-size: 14px;
        text-align: center;
    }
   .box{
    padding: 1px;
    width: 100%;
   }
   .passos{
    width: 24px;
    height: 24px;
    font-size: 12px;
   }
   .content{
    font-size: 14px;
    padding: 5px;
   }
   .content2{
    font-size: 14px;
    padding: 5px;
   }
   .content3{
    height: 30vh
   }
   .space{
    display: flex;
    align-items: center;
    gap: 3px;
    }
    .font{
        font-size: 12px;
        display: flex;
        justify-content: start;
    }
    .form-control{
        font-size: 16px;
    }
    .btn{
        font-size: 14px;
    }
    .map{
        width: 80%;
        height: 65%; 
    }
}

@media(max-width: 350px){
    .map{
        width: 80%;
        height: 65%; 
    }
    .content3{
        height: 30vh;
    }
}

@media(max-width: 275px){
    .map{
        width: 80%;
        height: 65%; 
    }
    .content3{
        height: 30vh;
    }
}
@media(max-width: 200px){
    .map{
        width: 195px;
        height: 150px;
        padding: 1px;
    }
    .content3{
        height: 30vh;
    }
}