<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-sm-6 text-near-image d-flex flex-column justify-content-center align-items-start">
            <p>
                Temos como iniciativa a criação de uma plataforma interativa e de fácil uso para você denunciar algum vasamento de água em sua região. Caso queira saber mais sobre nós, clique no botão abaixo.
            </p>
            <button class="btn btn-primary">Saiba Mais</button>
        </div>
        <div class="col-12 col-sm-6 img-near-text d-flex justify-content-center align-items-center">
            <img src="assets/Img Desperdício.png" alt="desenho de homem ajoelhado de frente a uma torneira grande caindo uma gota" class="img-fluid">
        </div>
    </div>

    <div class="row text-main-below-image">
        <div class="col-12 text">
           <strong>Ajude a preservar nosso recurso mais precioso!</strong>
            Denuncie vazamentos de água em sua região de forma rápida e fácil. Juntos, podemos combater o desperdício e proteger o meio ambiente. Use nossa plataforma para fazer a diferença, porque cada gota conta!
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/Mascote Inclinado com Uma Mão e Um Dedo Erguido.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 text-near-image d-flex flex-column justify-content-center align-items-start">
            <p>
                Não sabe como fazer uma denúncia?
            </p>
            <button (click)="goToHome()" routerLink="/how-report" class="btn btn-primary btn-near-mascot">Clique Aqui</button>
        </div>
    </div>
</div>
