<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-sm-6 text-near-image d-flex flex-column justify-content-center align-items-start">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repudiandae unde quidem enim ullam? Eveniet nostrum dolor delectus
            </p>
            <button class="btn btn-primary">Saiba Mais</button>
        </div>
        <div class="col-12 col-sm-6 img-near-text d-flex justify-content-center align-items-center">
            <img src="assets/Img Desperdício.png" alt="desenho de homem ajoelhado de frente a uma torneira grande caindo uma gota" class="img-fluid">
        </div>
    </div>

    <div class="row text-main-below-image">
        <div class="col-12 text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatibus minus labore, autem esse numquam magni placeat assumenda natus molestias, ullam quis quidem aperiam iure delectus debitis eligendi architecto. Distinctio!
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/Mascote Inclinado com Uma Mão e Um Dedo Erguido.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 text-near-image d-flex flex-column justify-content-center align-items-start">
            <p>
                Não sabe como fazer uma denúncia?
            </p>
            <button class="btn btn-primary btn-near-mascot">Clique Aqui</button>
        </div>
    </div>
</div>
