<body revealOnScroll>
  <div class="container">
      <div class="heading">Cadastrar-se</div>
      <form [formGroup]="formRegister" action="" class="form">

  <input formControlName="completeName" class="input" type="text" placeholder="Nome Completo" appOnlyLetters>
  <div *ngIf="f['completeName'].invalid && (f['completeName'].dirty || f['completeName'].touched)" class="error-message">
  <div *ngIf="f['completeName'].hasError('required')">
    O nome completo é obrigatório.
  </div>
</div>

  <input formControlName="email" class="input" type="email" placeholder="E-mail">
  <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="error-message">
    <div *ngIf="f['email'].hasError('required')">O e-mail é obrigatório.</div>
    <div *ngIf="f['email'].hasError('email')">Por favor, insira um e-mail válido.</div>
  </div>
  
  <input formControlName="cpf" class="input" type="text" placeholder="CPF" appOnlyNumbers>
  <div *ngIf="f['cpf'].invalid && (f['cpf'].dirty || f['cpf'].touched)" class="error-message">
    <div *ngIf="f['cpf'].hasError('required')">O CPF é obrigatório.</div>
    <div *ngIf="f['cpf'].hasError('minlength') || f['cpf'].hasError('maxlength')">O CPF deve conter exatamente 11 dígitos.</div>
  </div>

  <input formControlName="phone" class="input" type="text" placeholder="Telefone" appOnlyNumbers>
  <div *ngIf="f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)" class="error-message">
    <div *ngIf="f['phone'].hasError('required')">O telefone é obrigatório.</div>
    <div *ngIf="f['phone'].hasError('minlength')">O telefone deve ter no mínimo 10 dígitos.</div>
  </div>
  
  <input formControlName="password" class="input" type="password" placeholder="Senha">
  <div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)" class="error-message">
    <div *ngIf="f['password'].hasError('required')">A senha é obrigatória.</div>
    <div *ngIf="f['password'].hasError('minlength')">A senha precisa ter no mínimo 6 caracteres.</div>
  </div>

  <input 
  formControlName="confirmPassword" 
  class="input" 
  type="password" 
  placeholder="Confirmar Senha">
  
<div *ngIf="f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched)" class="error-message">
    <div *ngIf="f['confirmPassword'].hasError('required')">
        A confirmação de senha é obrigatória.
    </div>
    <div *ngIf="f['confirmPassword'].hasError('mismatch')">
        As senhas não coincidem.
    </div>
</div>

  <span class="forgot-password"><a routerLink="/user-login"> Ja tem uma conta ? Entrar </a></span>
    
  <input (click)="onSubmit()" class="login-button" type="submit" value="Cadastrar" [disabled]="!formRegister.valid">
</form>
      
      <div class="social-account-container">
          <span class="title">Ou entre com</span>
         
          <div class="social-accounts">
            <button class="social-button google">
              <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 488 512">
                <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path>
              </svg></button>
          </div>
        </div>
        
        <span class="agreement"><a href="#">Contrato de licença do usuário</a></span>
    </div>
    
</body> 