<div class="container">
    <!-- Quem somos -->
    <div class="column mb-4" id="toggle-0">
      <button class="toggle-btn" data-bs-toggle="collapse" data-bs-target="#tab-0" aria-expanded="false" aria-controls="tab-0"></button>
      <span>Quem somos</span>
    </div>
    <div class="collapse tab" id="tab-0">
      <p>Somos uma equipe dedicada a melhorar a infraestrutura de água e saneamento da sua comunidade. Nosso objetivo é proporcionar um canal seguro e eficiente para que você possa denunciar problemas como vazamentos, entupimentos e falhas no sistema de esgoto e encanamento.</p>
      <p>Nosso site funciona como um elo entre os cidadãos e os responsáveis pelos serviços de água e esgoto, garantindo que as denúncias sejam direcionadas aos órgãos competentes para uma resolução ágil e eficaz.</p>
    </div>

    <!-- Equipe -->
    <div class="column mb-4" id="toggle-1">
      <button class="toggle-btn" data-bs-toggle="collapse" data-bs-target="#tab-1" aria-expanded="false" aria-controls="tab-1"></button>
      <span>Equipe</span>
    </div>
    <div class="collapse tab" id="tab-1">
      <a href="https://via.placeholder.com/150" target="_blank">Veja nossa imagem</a>
    </div>

    <!-- Qual o nosso objetivo -->
    <div class="column mb-4" id="toggle-2">
      <button class="toggle-btn" data-bs-toggle="collapse" data-bs-target="#tab-2" aria-expanded="false" aria-controls="tab-2"></button>
      <span>Qual o nosso objetivo</span>
    </div>
    <div class="collapse tab" id="tab-2">
      <p>Nosso objetivo é garantir o acesso de todos a água potável e a um sistema de esgoto adequado, contribuindo para a saúde e o bem-estar da comunidade. Acreditamos que cada cidadão tem o direito de viver em um ambiente seguro e livre de riscos decorrentes de falhas no abastecimento de água e esgoto.</p>
    </div>
  </div>