/* Menu admin */
.navbar-toggler {
    font-size: 35px;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    background-color: transparent;
    border-right: none;
}

@media(min-width: 768px) {
    .navbar {
        padding: 0;
    }

    .container-fluid {
        --bs-gutter-x: 0;
    }

    .navbar-toggler,
    .offcanvas-header.offcanvas-header[_ngcontent-ng-c3783641585] {
        display: none;
    }

    .offcanvas {
        transition: none;
        position: unset;
    }

    .offcanvas.offcanvas-start {
        transform: none;
        visibility: visible;
        width: 220px;
    }

    .offcanvas-backdrop {
        display: none;
    }

    .sidebar {
        width: 220px !important;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    background-color: #06577E;
    overflow-y: auto;
}

@media (min-width: 400px) {
    .sidebar {
        width: 320px;
    }
}

.offcanvas-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    padding: 2px;
}

.offcanvas-header button {
    background-color: transparent;
    border: none;
    width: 15vh;
    display: flex;
    justify-content: flex-end;
}

.offcanvas-header button .bi-x-circle {
    font-size: 25px;
}

.offcanvas-header .btn-close {
    position: fixed;
}

/* Logo SOSUrbano */
.container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 130px;
    height: auto;
}

@media (min-width:350px) {
    .img-logo {
        width: 150px;
    }
}

/* Corpo menu admin */
.offcanvas-body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex: 1;
}

/* Linha de separação */
.separation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.row {
    outline: 1px solid white;
    width: 90%;
}

/* Componentes do menu admin */
.offcanvas-body .navbar-nav {
    padding-left: 16px;
}

.offcanvas-body .navbar-nav .nav-item .nav-link {
    color: #E8E8E8;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-right: 16px;
}

@media (min-width: 350px) {
    .offcanvas-body .navbar-nav .nav-item .nav-link {
        font-size: 22px;
    }
}

.offcanvas-body .navbar-nav .nav-item .nav-link.active {
    background-color: #84CCF4;
    color: #292727;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.offcanvas-body .navbar-nav .nav-item .nav-link:hover {
    background-color: #84CCF4;
    color: #292727;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.offcanvas-body .navbar-nav .nav-item .nav-link p {
    margin: 0px;
}

.offcanvas-body .navbar-nav .nav-item .nav-link .bi {
    margin-right: 10px;
    padding-left: 5px;
}

/* Menu inferior admin */
.offcanvas-body-user {
    background-color: #076591;
    padding: 5px 0px 5px 16px;
    font-size: 20px;
    width: 100%;
}

.offcanvas-body-user .navbar-nav .nav-item .nav-link {
    color: #E8E8E8;
}

.offcanvas-body-user .navbar-nav {
    padding-left: 0px;
}